<% title(@season.title) %>
<header>
    <h1><%= @season.title %></h1>

    <ul class="actions">
        <li>
            <%= link_to "Edit Season", edit_season_path(@season), class: "edit" %>
        </li>
        <li>
            <%= link_to "Delete Season", season_path(@season),
                method: :delete,
                data: {confirm: "Are you sure you want to delete this season?"},
                class: "delete" %>
        </li>
    </ul>
</header>
<%= simple_format(@season.plot) %>

<header>
    <h2>Episodes</h2>
    <ul class="actions">
        <li>
            <%= link_to "New Episode", new_season_episode_path(@season), class: 'new' %>
        </li>
    </ul>
</header>
<ul id="episodes">
    <%= @season.episodes.each do |episode| %>
        <li>
            <%= link_to "#{episode.number} - #{episode.title}", [@season, episode] %>
        </li>
    <% end %>
</ul>
